Package: hassbian-scripts
Architecture: all
Maintainer: Fredrik Lindqvist <github.com/Landrash>
Depends: bash, wget, git, python3, python3-venv, python3-pip, python3-dev, bluetooth, libbluetooth-dev, avahi-daemon, build-essential, libssl-dev, libffi-dev, python-dev, libudev-dev 
Priority: optional
Homepage: www.home-assistant.io
Version: 0.5
Description: HASSbian scripts
 A set of tools for installing and maintaining a HASSbian installation.
