[Unit]
Description=Cloud9
After=network-online.target
[Service]
Type=simple
User=homeassistant
ExecStart=/opt/c9sdk/server.js -l 0.0.0.0 -a %%USERNAME%%:%%PASSWORD%% -w /home/homeassistant/c9workspace
[Install]
WantedBy=multi-user.target
