[Unit]
Description=AppDaemon
After=home-assistant@homeassistant.service
[Service]
Type=simple
User=homeassistant
ExecStart=/srv/appdaemon/bin/appdaemon -c /home/homeassistant/appdaemon/
[Install]
WantedBy=multi-user.target