[Unit]
Description=Cloud9
After=network-online.target
[Service]
Type=simple
User=homeassistant
ExecStart=/home/homeassistant/c9sdk/server.js -l 0.0.0.0 -a : -w /home/homeassistant
[Install]
WantedBy=multi-user.target
