# This is a simple service file for systems with systemd to tun HA as user.
#
# For details please check https://home-assistant.io/getting-started/autostart/
#
[Unit]
Description=Install Home Assistant
After=network.target

[Service]
ExecStartPre=/usr/local/bin/hassbian-config upgrade hassbian-script
ExecStart=/usr/local/bin/hassbian-config install homeassistant --force
TimeoutSec=3600

[Install]
WantedBy=multi-user.target
